/*	Reset eveything to default,
	Set the all the content's font family to Helvetica*/
*{
	padding: 0px;
	margin: 0px;
	font-family: sans-serif,Helvetica;
	box-sizing: border-box;
}
/*	Add animation from full page to header size*/
@keyframes resizeSmall{
	0%{
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-image: url(Images/DonaldANorman.jpeg);
		background-position: 0% 40%;
		background-size: cover;
		overflow: hidden;
	}
	40%{
		width: 100%;
		height: 100%;
		background-image: url(Images/DonaldANorman.jpeg);
		background-position: 0% 40%;
		background-size: cover;
		overflow: hidden;
	}
	100%{
		height:200px;
		background-position: 0% 20%;
	}
}
@keyframes sliderWord{
	0%{
/*
		visibility: visible;
		padding-top: 150px;
		padding-right:900px;
*/
		padding-top: 50%;
	}
	40%{
		padding-top: 50%;
	}
	100%{
		padding-right: 40px;
		padding-top: 150px;
	}
}

/*	Set the div header a background image and adjust the position of the image
*/
.header{
	background-image: url("Images/DonaldANorman.jpeg");
	background-position: 0% 20%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 200px;
	width: 100%;
	animation: resizeSmall 1.8s ease-in;
}
/*	Adjust the position of the title to the right bottom corner of the header image	*/
.title{
	color: #f0f8ff;
	text-align: right;
	padding-right: 40px;
	padding-top: 150px;
	animation:sliderWord 1.8s ease-in;
}
.nav{
	text-align: center;
	margin-top: 20px;
}
/*	Set the unordered list display to inline block	*/
.nav ul{
	display: inline-block;
}
/* 	Set the list to float left and change the list style to none	*/
.nav ul li{
	float: left;
	list-style-type: none;
	padding-left: 10px;
}
/*	Change the text color of the text when hovered	*/
.nav ul li a:hover{
	color: #006699;
}
/*	Change the text color of the link and the display as a block	*/
.nav li a {
    display: block;
    color: #333366;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.container{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 5px;
	display:inline-block;
}
#name{
	margin-top: 20px;
	float:left;
	width:40%;
}
p#content{
	float:right;
	width: 60%;
	font-size: 14px;
	padding-top: 30px;
	text-align: justify;
	font-weight: 100;
	line-height: 19px;
}
#book-title{
	margin-top: 20px;
	float:left;
	width:40%;
}
#affordance{
	margin-top: 20px;
	float:left;
	width:40%;
}
#perceived-affordance{
	margin-top: 20px;
	float:left;
	width:40%;
}
#signifier{
	margin-top: 20px;
	float:left;
	width:40%;
}
.footer{
	text-align: center;
	margin:20px auto;
}