/*	Reset eveything to default,
	Set the all the content's font family to Helvetica*/
*{
	padding: 0px;
	margin: 0px;
	font-family: sans-serif,Helvetica;
	box-sizing: border-box;
}
/*	Add animation from full page to header size*/
@keyframes resizeSmall{
	0%{
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-image: url(Images/DonaldANorman.jpeg);
		background-size: cover;
		overflow: hidden;
	}
	40%{
		width: 100%;
		height: 100%;
		background-image: url(Images/DonaldANorman.jpeg);
		background-size: cover;
		overflow: hidden;
	}
	100%{
		height:200px;
		background-position: 0% 20%;
	}
}
/*	Add animation for the wording to follow the image*/
@keyframes sliderWord{
	0%{
		padding-top: 50%;
	}
	40%{
		padding-top: 50%;
	}
	100%{
		padding-right: 40px;
		padding-top: 150px;
	}
}

/*	Set the div header a background image and adjust the position of the image
*/
.header{
	background-image: url("Images/DonaldANorman.jpeg");
	background-position: 0% 20%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 200px;
	width: 100%;
	animation: resizeSmall 1.8s ease-in;
}
.go-back{
	color: #f0f8ff;
	text-align: left;
	padding-left: 10px;
}
/*	Adjust the position of the title to the right bottom corner of the header image	*/
.title{
	color: #f0f8ff;
	text-align: right;
	padding-right: 40px;
	padding-top: 150px;
	animation:sliderWord 1.8s ease-in;
}
.nav{
	text-align: center;
	margin-top: 20px;
}
/*	Set the unordered list display to inline block	*/
.nav ul{
	display: inline-block;
}
/* 	Set the list to float left and change the list style to none	*/
.nav ul li{
	float: left;
	list-style-type: none;
	padding-left: 10px;
}
/*	Change the text color of the text when hovered	*/
.nav ul li a:hover{
	color: #006699;
}
/*	Change the text color of the link and the display as a block	*/
.nav li a {
    display: block;
    color: #333366;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.container{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 5px;
	display:inline-block;
}
/*	Set a background of book page to the div*/
.book-background{
	position:relative;
	width:180px;
	height:285px;
	float: right;
	margin-top: 50px;
	margin-left: auto;
	margin-right: 25%;
	margin-bottom: 25px;
	background: url(Images/BookPage1.png) no-repeat;
	background-size: cover;
	background-position: 50% 0%;
	transform-style: preserve-3d;
	perspective: 500px;
}
/* 	Set the background of cover page for the book*/
.book-cover{
	background: url(Images/images.jpeg) no-repeat;
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 100%;
	transform-origin: 0 50%;
	/*Speed of the Door animation*/
	transition: all 0.3s ease-in;
}
/* 	Set transition of the book cover to rotate Y -60 degree*/
.book-background:hover .book-cover{
	transform: rotateY(-60deg);
}
#name{
	margin-top: 20px;
	float:left;
	width:40%;
}
p#content{
	float:right;
	width: 60%;
	font-size: 14px;
	padding-top: 30px;
	text-align: justify;
	font-weight: 100;
	line-height: 19px;
}
#book-title{
	margin-top: 20px;
	float:left;
	width:40%;
}
#affordance{
	margin-top: 20px;
	float:left;
	width:40%;
}
.example{
	width: 100%;
	height: 325px;
	position: relative;
	float: right;
}
.door-back{
  	background-color: lightgrey;
  	position:relative;
	float: right;
  	width:100px;
  	height:270px;
  	margin-top:50px;
	margin-left: 25%;
	margin-right: 0px;
	margin-bottom: 25px;
}
.door-back1{
	position:relative;
	width:100px;
	height:270px;
	float: right;
	margin-top: 50px;
	margin-left: 0px;
	margin-right: 25%;
	margin-bottom: 25px;
	background: lightgrey;
}
.door-push{
  	background: url(Images/WoodDoorPush.jpg) no-repeat;
	background-size: contain;
  	position:absolute;
  	top:0px;
  	left:0px;
  	width:100%;
  	height:100%;
  	transform-origin: left;
	transform-style: preserve-3d;
  	/*Speed of the Door animation*/
  	transition: all 0.5s ease-in;
}
.door-pull{
	background: url(Images/WoodDoorPull.jpg) no-repeat;
	background-size: contain;
	position: absolute;
	width: 100%;
	height: 100%;
	transform-origin: right;
	transform-style: preserve-3d;
	/*Speed of the Door animation*/
	transition: all 0.5s ease-in;
}
/* 	Set transition of the book cover to rotate Y -60 degree*/
.door-back:hover .door-push{
	transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(60deg);
}
.door-back1:hover .door-pull{
	transform: perspective(1500px) rotateY(60deg);
}
span#italic-title{
	font-style: italic;
	font-weight: 600;
}
#perceived-affordance{
	margin-top: 20px;
	float:left;
	width:40%;
}
#signifier{
	margin-top: 20px;
	float:left;
	width:40%;
}
.footer{
	text-align: center;
	margin:40px auto;
}